<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carol's Bookstore</title>
</head>
<body>
    <h1>Welcome to Carol's Bookstore</h1>
    <br>
    <h2>Here are the books currently listed in our database:</h2>
    <br>
    <ul>
    <% all_books.forEach( (single_book) => {  %>
    <li><i><%= single_book.name %></i> by <%= single_book.author %></li>
        <br>
        <br>
    <% }) %>
    </ul>
    <p>If you'd like to add a new title to our bookstore's database, please submit it using the form below. Thank you!</p>
    <br>

    <h2>Add a New Book</h2>
    <form action="/add" method="POST">
        <label for="book_id">Book ID: </label>
        <input type="number" name='book_id' id='book_id' required>

        <label for="name">Name: </label>
        <input type="text" name='name' id='name' required>

        <label for="author">Author: </label>
        <input type="text" name='author' id='author' required>

        <label for="price">Price: </label>
        <input type="number" name='price' id='price' required>

        <label for="num_sold">Num Sold: </label>
        <input type="number" name='num_sold' id='num_sold' required>

        <input type="submit" value="Add Book">
    </form>
</body>
</html>